.ResultBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
  }

  .ResultBox_ShowMore{
    font-size: 20px;
    color: white;
    padding: 10px;
    text-align: center;
  }