.Result{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border: 2px solid white;
    padding: 10px;
}

.Result:hover
{
    background-color: rgba(109, 81, 16, 0.961);
}

.Result_Container{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Result_Name{
    width: fit-content;
    font-size: 40px;
    color: white;
}
.Result_Age{
    width: fit-content;
    font-size: 15px;
    color: white;
}

.Result_ImageBox{
    max-width: 100px;
    height: fit-content;
}

.Result_Image{
    border: 2px solid white;
    border-radius: 25px;
    max-height: 300px;
    max-width: 300px;
}