
body{
  background-color: #70B891;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 50px;
}

.ResultsTitle {
  font-size: 20px;
}

.Message {
  width: 80%;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid white;
  padding: 15px;
  background-color: aliceblue;
  color: #00beae;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}

[class*="col-"] {
  width: 100%;
}

.t-1{font-size: 40px;}
.t-2{font-size: 18px;}
.t-3{font-size: 16px;}
.t-4{font-size: 14px;}

@media only screen and (max-width: 600px) {
  /* For small phones: */
  .col-s-1 {width: 16.66%;}
  .col-s-2 {width: 25%;}
  .col-s-3 {width: 33.33%;}
  .col-s-4 {width: 50%;}
  .col-s-5 {width: 66.66%;}
  .col-s-6 {width: 75%;}

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 16.66%;}
  .col-s-2 {width: 25%;}
  .col-s-3 {width: 33.33%;}
  .col-s-4 {width: 50%;}
  .col-s-5 {width: 66.66%;}
  .col-s-6 {width: 75%;}
  .col-s-7 {width: 83.33%;}
  .col-s-8 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
  /* For large desktops: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 8.33%;}
  .col-3 {width: 16.66%;}
  .col-4 {width: 25%;}
  .col-5 {width: 33.33%;}
  .col-6 {width: 41.66%;}
  .col-7 {width: 50%;}
  .col-8 {width: 58.33%;}
  .col-9 {width: 66.66%;}
  .col-10 {width: 75%;}
  .col-11 {width: 83.33%;}
  .col-12 {width: 100%;}
}